@model List<OrderFoodApplication.Models.Recipe>

@{
    ViewData["Title"] = "Recipe";
}

<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-12">
            @await Html.PartialAsync("_SearchBar")
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-2">
            <div class="shadow rounded position-sticky" id="recepie-list">
                <div class="border-bottom border-3 p-2 ">
                    <h4 class="text-pink text-center fst-italic ">Recepies</h4>
                    @await Html.PartialAsync("_SideMenu")
                </div>
            </div>
        </div>
        <div class="col-10">
            <div class="mb-5">
                <h4 class="text-dark">Pizza</h4>
                <div class="row" id="pizzaRecepie">
                    @await Html.PartialAsync("_RecipeCard", Model.Where(r => r.Category == "Pizza").ToList())
                </div>
            </div>
            <div class="mb-5">
                <h4 class="text-dark">Cake</h4>
                <div class="row" id="cakeRecepie">
                    @await Html.PartialAsync("_RecipeCard", Model.Where(r => r.Category == "Cake").ToList())
                </div>
            </div>
            <div class="mb-5">
                <h4 class="text-dark">Chicken</h4>
                <div class="row" id="chickenRecepie">
                    @await Html.PartialAsync("_RecipeCard", Model.Where(r => r.Category == "Chicken").ToList())
                </div>
            </div>
            <div class="mb-5">
                <h4 class="text-dark">Chocolate</h4>
                <div class="row" id="chocolateRecepie">
                    @await Html.PartialAsync("_RecipeCard", Model.Where(r => r.Category == "Chocolate").ToList())
                </div>
            </div>
        </div>
    </div>
</div>
