@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row shadow rounded">
        <div class="col-sn-12 col-md-6 col-lg-6 col-xl-6">
            <div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/images/caraouselImages/pizza3.jpg" class="d-block w-100" alt="Recipes">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/caraouselImages/burgers1.jpg" class="d-block w-100" alt="Recipes">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/caraouselImages/sweet1.jpg" class="d-block w-100" alt="Recipes">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-sn-12 col-md-6 col-lg-6 col-xl-6">
            <div class="mb-3">
                <h2>Get the Best <span class="text-success fst-italic">Food</span> From <span class="text-success">The Best Restaurants.</span></h2>
            </div>
            <div class="mb-1 p-3">
                <span><i class="fa-solid fa-seedling text-success ms-2 fs-4"></i></span>
                <span class="fs-5 text-dark fst-italic">Fresh Food</span>
            </div> 
            <div class="mb-1 p-3">
                <span><i class="fa-solid fa-wheat-awn text-success ms-2 fs-4"></i></span>
                <span class="fs-5 text-dark fst-italic">Healthy Meal</span>
            </div>
            <div class="mb-1 p-3">
                <span><i class="fa-solid fa-person-biking text-success ms-2 fs-4"></i></span>
                <span class="fs-5 text-dark fst-italic">Fastest Delivery</span>
                <p class="py-2">We Promise Deliver Order within 30 Min</p>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class=" col-12 mb-3">
            <h2 class="text-dark fst-italic">Today's Special</h2>
            <div id="todaySpecial" class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="shadow rounded card dishCard">
                        <img class="card-img-top h-75" src="http://forkify-api.herokuapp.com/images/BBQChickenPizzawithCauliflowerCrust5004699695624ce.jpg" alt="dish" />
                        <div class="card-body">
                            <p class="card-title fw-bold">Pizza</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="shadow rounded card dishCard">
                        <img class="card-img-top h-75" src="http://forkify-api.herokuapp.com/images/gelatin_poke_cake2d07.jpg" alt="dish" />
                        <div class="card-body">
                            <p class="card-title fw-bold">Cake</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="shadow rounded card dishCard">
                        <img class="card-img-top h-75" src="https://forkify-api.herokuapp.com/images/nobake_276e5.jpg" alt="dish" />
                        <div class="card-body">
                            <p class="card-title fw-bold">Strawberry</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
