<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

<div class="shadow rounded">
    <div class="p-2">
        <form autocomplete="off">
            <div class="mb-3 row">
                <div class="col-11 text-center ui-widget p-1">
                    <input type="text" id = "tags" placeholder="Search Recipe" class="form-control" name="recipe"/>
                </div>
                <div class="col-1 p-1">
                    <button type="submit" class="btn btn-sm btn-success p-2">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js/jquery.min.js"></script>
<script>
    $(function () {
        var availableTags = [
            "mushrooms", "pumpkin", "tomato", "apple", "banana", "blackberry", "blueberry", "coconut", "grape" , "kiwifruit" , "mango" , "orange" , "papaya" ,
            "pineapple" , "strawberry" , "watermelon" , "salad" , "pizza" , "pasta", "popcorn" , "hamburger" , "pie" , "cake" , "sausage" , "tacos" , "kebab" ,
            "poutine" , "seafood" , "chips" , "fries" , "masala" , "chicken" , "chocolate" , "sushi" , "ice cream"

        ];
        $("#tags").autocomplete({
            source: availableTags,
            minLength: 2
        });
    });
</script>
