<ul class="list-group-flush px-0 vh-100 overflow-auto" > 
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="">Mushrooms</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="">Pumpkin</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="">Tomato</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="">Apple</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="">Banana</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="">Blackberry</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="">Blueberry</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="">Grape</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="">Kiwifruit</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="">Mango</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="">Orange</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="">Papaya</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="">Pineapple</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="">Strawberry</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="">Watermelon</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="">Salad</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="">Pizza</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="">Pasta</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="">Popcorn</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="">Hamburger</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="">Pie</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="">Cake</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="">Sausage</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="">Tacos</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="">Kebab</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="">Poutine</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="">Seafood</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="">Chips</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="">Fries</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="">Masala</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="">Chicken</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="">Chocolate</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="">Sushi</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="">Icecream</a>
    </li>
</ul>
